* {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

input {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

select {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

button {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #FFFFFF;
}

canvas {

    height: 500px;
    width: 1700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 0;
    margin-top: 8px;
}

#infoarea {
    display: flex;
    justify-content: flex-start;
}

#container {
    display: flex;
    justify-content: space-around;
}

.subcontainer{
    margin: 4px;
    padding: 4px;
}
